<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom Css -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <title>Le Pointe School of Dance</title>
</head>
<body>
<!-- N A V B A R -->
<nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon ion-md-menu"></span>
    </button>
    <img src="../dance.jpg" width="64" height="64" class="img-fluid nav-logo-mobile" alt="Company Logo">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container">
      	<img src="../dance.jpg" class="img-fluid nav-logo-desktop" alt="Company Logo">
        <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href={{url_for('index')}}>Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href={{url_for('classes')}}>Classes <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href={{url_for('instructors')}}>Instructors <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- INSTRUCTORS -->
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../miss_dar.jpeg" alt="Miss Dar" style="width:98px;">
        <div class="container">
          <h2>Miss Dar</h2>
          <p class="title">Dance Instructor</p>
          <p>Miss Dar is the head instructor at LePointe School of Dance
            <br> and has been teaching dance for over 15 years. She specializes
            <br>in Jazz, Tap, Irish Folk, and Classic.
          </p>
          <p>example@example.com</p>
          <p><button class="button">Email Me!</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../mom_instructor.jpg" alt="Tammy" style="width: 98px;">
        <div class="container">
          <h2>Tammy Dodson</h2>
          <p class="title">Belly Dance Instructor</p>
          <p>Tammy has taught belly dance in Potsdam, 
            <br>Massena, Hogansburg, & Ennis, TX. She 
            <br>has been troupe leader of Veils of The
            <br>Nile since 2015.
          </p>
          <p>gwdmusic@hotmail.com</p>
          <p><button class="button">Email Me!</button></p>
        </div>
      </div>
    </div>
  
  
    
</body>
</html>